{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    {{ if gt .WordCount 1 }}
    <section class="cf ph2-l pv2-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    {{ end }}
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range (.Paginator 24).Pages }}
        <div class="relative w-100 w-30-l mb2 bg-white">
          <div class="relative w-100 mb4 bg-white nested-copy-line-height">
            <!-- boxes des cursus -->
            <a href="{{ .Permalink }}" class="link dim">
            <div class="bg-white mb3 pa4 gray overflow-hidden">
              <span class="f6 db">{{ humanize .Params.id | upper }}</span>
              <h1 class="f3 near-black">{{ .Params.title_short }}</h1>
              <div class="nested-links f5 lh-copy nested-copy-line-height">{{ .Params.description  }}</div>
            </div>
            </a>
          </div>
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
